<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Registrar Ponto</h5>
                  <span class="h2 font-weight-bold mb-0">12:00 Hrs</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <i class="ni ni-bell-55"></i>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      
    
    
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Controle de Ponto - 28/09/2021</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">Ver todos</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Data </th>
                <th scope="col">Entrada</th>
                <th scope="col">Almoço</th>
                <th scope="col">Retorno</th>
                <th scope="col">Saida</th>
                <th scope="col">Total trabalhado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                 27/08/2021
                </th>
                <td>
                 08:00
                </td>
                <td>
                  12:00
                </td>
                <td>
                  13:00
                </td>
                <td>
                  17:00
                </td>
              
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 08:00
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
